<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data</title>
</head>
<body>
    <h1>Form Data</h1>
    <table>
        <thead>
            <tr>
                <th>SL.NO</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Message</th>
                <th>Time Stamp</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in form_submissions %}
                <tr>
                    <td>{{ submission[0] }}</td>
                    <td>{{ submission[1] }}</td>
                    <td>{{ submission[2] }}</td>
                    <td>{{ submission[3] }}</td>
                    <td>{{ submission[4] }}</td>
                    <td>{{ submission[5] }}</td>
                </tr><br>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
