<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast Feed Privacy Policy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
</head>

<body class="size-1520 primary-color-red background-dark">
<!-- HEADER -->
<header class="grid">
  <!-- Top Navigation -->
  <nav class="s-12 grid background-none background-primary-hightlight">
      <a href="/" class="m-12 l-3 padding-2x logo">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Neuratac Logo">
      </a>
      <div class="top-nav s-12 l-9">
        <ul class="top-ul right chevron">
          <li><a href="/">Home</a></li>
          <li><a href="about-us">About Us</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </nav>
</header>

<!-- MAIN -->
<main role="main">
  <div class="container">
    <h1>Fast Feed Privacy Policy</h1>

  <p>At Fast Feed, ("Fast Feed," "our," "we," or "us"), safeguarding our users' privacy is paramount, and we are dedicated to maintaining the confidentiality, integrity, and security of the personal information entrusted to us. Please take a moment to review the following terms, which outline how we collect, use, safeguard, and share your personal information. This Privacy Policy ("Policy") is designed to inform you about your privacy rights and choices concerning the information we collect through our app and the services we offer.</p>

  <p>By accessing or using the Fast Feed app in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent to our collection, use, and sharing of your information as described herein.</p>

  <ol>
    <li>
      <h2>Changes to this Privacy Policy</h2>
      <p>We reserve the right to modify this Policy at any time. To stay informed about any updates, we encourage you to check this page regularly. In the event that Fast Feed intends to use your personally identifiable information in a manner significantly different from what was stated when the information was initially collected, we will promptly notify you via email.</p>
    </li>

    <li>
      <h2>What does this privacy policy cover?</h2>
      <p>This Policy applies to Fast Feed and governs all data collection and usage by us in compliance with applicable regulations. By using our services, you consent to the data collection procedures outlined in this Policy.</p>
      <p>Please note that this Policy does not apply to third-party websites or individuals not employed or managed by Fast Feed. If you visit a website linked through our app, we recommend reviewing its privacy policy before providing any personal information.</p>
    </li>

    <li>
      <h2>Information we collect</h2>
      <p>Fast Feed collects and processes various types of personal information to enhance our services and provide you with a personalized experience. This may include:</p>
      <ul>
        <li>Personal Information: Information such as your name, email address, and other contact details that you provide when using the app.</li>
        <li>Anonymous/Aggregated Data: Non-identifiable data that helps us analyze usage patterns and improve our services without revealing individual identities.</li>
        <li>Information collected automatically: Details about your app usage, device, location, and interactions within the app, collected through cookies, beacons, and similar technologies.</li>
      </ul>
    </li>

    <li>
      <h2>How we use your personal information</h2>
      <p>We utilize the information collected to:</p>
      <ul>
        <li>Create and manage your user account.</li>
        <li>Personalize your app experience and provide tailored recommendations.</li>
        <li>Communicate with you, including sending emails, newsletters, and updates.</li>
        <li>Administer promotions, surveys, and other features.</li>
        <li>Detect and prevent fraud, ensuring the security of our services.</li>
      </ul>
    </li>

    <li>
      <h2>Personal Information that we share</h2>
      <p>We do not sell, rent, or trade your personal information. However, we may share it with:</p>
      <ul>
        <li>Service providers: Third-party vendors who assist in delivering our services.</li>
        <li>Business partners: Entities with whom we collaborate to improve our offerings.</li>
        <li>Analytics Partners: Third-party services that help us analyze user data for insights.</li>
        <li>In cases of merger, acquisition, or legal compliance.</li>
      </ul>
    </li>

    <li>
      <h2>Data retention and deletion</h2>
      <p>We retain personal information only as long as necessary for business purposes and in compliance with legal requirements. Upon request, we will delete or anonymize your data, unless retention is necessary for legal or legitimate reasons.</p>
    </li>

    <li>
      <h2>Your rights</h2>
      <p>You have rights regarding your personal information, including the right to access, rectify, or delete data. You can also request restriction of processing and data portability, and withdraw consent where applicable.</p>
    </li>

    <li>
      <h2>Keeping your data safe</h2>
      <p>Fast Feed implements measures to protect your data from unauthorized access, alteration, or disclosure. We utilize physical and electronic safeguards to maintain data integrity and security.</p>
    </li>

    <li>
      <h2>Your California privacy rights</h2>
      <p>California residents have specific rights concerning their personal information, including the right to request disclosure, deletion, and non-discrimination for exercising these rights.</p>
    </li>

    <li>
      <h2>Children under the age of 13/Age restriction</h2>
      <p>Fast Feed does not knowingly collect personal information from children under 13. Users aged 13-18 require parental consent to use our services.</p>
    </li>

    <li>
      <h2>Your choices; unsubscribe or opt-out</h2>
      <p>You can update your account information and unsubscribe from communications at any time. Contact us directly or follow the instructions provided in our emails.</p>
    </li>

    <li>
      <h2>Links to other sites</h2>
      <p>Fast Feed is not responsible for the privacy practices of third-party sites linked within our app. We encourage users to review the privacy policies of external websites.</p>
    </li>

    <li>
      <h2>Acceptance of Terms</h2>
      <p>By using Fast Feed, you agree to the terms outlined in this Privacy Policy. Continued use of our services constitutes acceptance of any updates or changes to these terms.</p>
    </li>

    <li>
      <h2>How to contact us</h2>
      <p>For feedback, support, or inquiries regarding our services, please contact us at <a href="mailto:SanjayaMaharana145@gmail.com">SanjayaMaharana145@gmail.com</a>.</p>
    </li>

  </ol>
    <p style="font-weight: bold; color: white;">Thank you for entrusting Fast Feed with your privacy.</p>
  </div>
  <div class="container">
    <h1> </h1>
  </div>

</main>

<!-- FOOTER -->
<footer class="grid">
  <!-- Footer - top -->
  <!-- Image-->
  <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url({{ url_for('static', filename='img/img-04.jpg') }})"></div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">About Neuratac</h2>
    <p>At Neuratac, we're dedicated to pioneering AI-driven innovation that transforms businesses and industries. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">Contact Neuratac</h2>
    <p><b class="text-primary margin-right-10">Phone:</b> +91 8790654369</p>
    <p><b class="text-primary margin-right-10">Email:</b> <a class="text-primary-hover" href="mailto:contact@neuratac.com">contact@neuratac.com</a></p>
    <p><b class="text-primary margin-right-10">Email (CEO):</b> <a class="text-primary-hover" href="mailto:SanjayaMaharana145@gmail.com">SanjayaMaharana145@gmail.com</a></p>
  </div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">Visit Us</h2>
    <p><b class="text-primary margin-right-10">City:</b> Visakhapatnam, Andhra Pradesh</p>
    <p><b class="text-primary margin-right-10">Country:</b> India</p>
  </div>

  <!-- Footer - bottom -->
  <div class="s-12 text-center margin-bottom">
        <p class="text-size-12">Copyright &copy; 2023 Neuratac - Innovating Tomorrow</p>
        <p class="text-size-12">All images used are licensed. Do not use without permission.</p>
        <p><a class="text-size-12 text-primary-hover" href="http://www.neuratac.com" title="Neuratac - Innovative Solutions">Design and Development by Neuratac Team</a></p>
    </div>

</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>


</body>
</html>
