<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuratac - Innovative AI Solutions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
</head>

<body class="size-1520 primary-color-red background-dark">
<!-- HEADER -->
<header class="grid">
  <!-- Top Navigation -->
  <nav class="s-12 grid background-none background-primary-hightlight">
      <a href="index.html" class="m-12 l-3 padding-2x logo">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Neuratac Logo">
      </a>
      <div class="top-nav s-12 l-9">
        <ul class="top-ul right chevron">
          <li><a href="/">Home</a></li>
          <li><a href="about-us">About Us</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </nav>
</header>

<!-- MAIN -->
<main role="main">
  <!-- TOP SECTION -->
  <header class="grid">
    <div class="s-12 padding-2x">
      <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Empowering Businesses with AI Innovation</h1>
      <p class="text-size-20 text-white text-center center text-uppercase">Unleash the Power of AI to Transform Industries</p>
    </div>
  </header>

  <!-- SECTION 1 -->
  <section class="grid">
    <div class="m-12 l-6 padding-2x background-white">
      <p class="text-strong text-size-80 text-red">01</p>

      <h2 class="text-size-50 text-line-height-1 text-dark"><b>AI-Powered Solutions for Business Growth</b></h2>

      <p>Experience the transformative impact of AI-powered innovation on businesses. Our solutions harness the potential of AI to drive data-driven decisions and unlock new opportunities for growth.</p>
      <p>From intelligent recommendation systems to cutting-edge object detection algorithms, we're pushing the boundaries of what's achievable. With machine learning as our foundation, we're empowering businesses to make informed decisions and seize new opportunities.</p>
    </div>

    <!-- Image-->
    <img class="m-12 l-6" src="{{ url_for('static', filename='img/img-06.jpg') }}" alt="Neuratac AI Innovation">
  </section>

  <!-- SECTION 2 -->
  <section class="grid">
    <!-- Image-->
    <img class="m-12 l-6" src="{{ url_for('static', filename='img/img-01.jpg') }}" alt="AI Solutions">

    <div class="m-12 l-6 padding-2x background-dark">
      <p class="text-strong text-size-80 text-red">02</p>

      <h2 class="text-size-50 text-line-height-1 margin-bottom-30 text-white"><b>Unlocking New Possibilities with AI</b></h2>

      <p>Embark on a journey of exploration and innovation as we delve into the uncharted realms of Artificial Intelligence. Discover the transformative potential of AI, reshaping industries and redefining possibilities. With cutting-edge algorithms and predictive analytics, we unlock insights that empower businesses to make informed decisions.</p>
    </div>
  </section>

  <!-- SECTION 3 -->
  <section class="grid">
    <div class="m-12 l-6 padding-2x background-aqua">
      <p class="text-strong text-size-80 text-white">03</p>

      <h2 class="text-size-50 text-line-height-1 text-white"><b>Revolutionizing Industries with AI</b></h2>

      <h3>AI-Powered Solutions for Transformation</h3>
      <p>Our AI-driven solutions are revolutionizing industries worldwide. From intelligent recommendation systems to advanced object detection algorithms, we're pushing the boundaries of what's possible. With machine learning at our core, we're enabling businesses to make data-driven decisions and unlock new opportunities.</p>
    </div>

    <!-- Image-->
    <img class="m-12 l-6" src="{{ url_for('static', filename='img/img-05.jpg') }}" alt="AI Revolution">
  </section>

  <!-- SECTION 6 -->
  <section class="grid margin-bottom">
    <div class="s-12 padding-2x background-dark">
      <a href="contact.html" class="s-12 m-9 l-3 center button text-size-20 text-white background-red">Contact Us</a>
    </div>
  </section>
</main>

<!-- FOOTER -->
<footer class="grid">
  <!-- Footer - top -->
  <!-- Image-->
  <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url({{ url_for('static', filename='img/img-04.jpg') }})"></div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">About Neuratac</h2>
    <p>At Neuratac, we're dedicated to pioneering AI-driven innovation that transforms businesses and industries. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">Contact Neuratac</h2>
    <p><b class="text-primary margin-right-10">Phone:</b> +91 8790654369</p>
    <p><b class="text-primary margin-right-10">Email:</b> <a class="text-primary-hover" href="mailto:contact@neuratac.com">contact@neuratac.com</a></p>
    <p><b class="text-primary margin-right-10">Email (CEO):</b> <a class="text-primary-hover" href="mailto:ceo@neuratac.com">ceo@neuratac.com</a></p>
  </div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">Visit Us</h2>
    <p><b class="text-primary margin-right-10">City:</b> Visakhapatnam, Andhra Pradesh</p>
    <p><b class="text-primary margin-right-10">Country:</b> India</p>
  </div>

  <!-- Footer - bottom -->
  <div class="s-12 text-center margin-bottom">
    <p class="text-size-12">Copyright 2023, Neuratac - Innovative Solutions</p>
    <p class="text-size-12">All images are property of Neuratac. Do not use without permission.</p>
    <p><a class="text-size-12 text-primary-hover" href="http://www.neuratac.com" title="Neuratac - Innovative Solutions">Designed and Developed by Neuratac Team</a></p>
  </div>

</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>


</body>
</html>
