<!DOCTYPE html>
<html>
    <head>
        <title>Terms</title>
    </head>
    <body>
        <h2>Terms and Conditions</h2>
        <ul>
            <li>1. Understand Your Reasons. ...</li>
            <li>2. Set Your Ground Rules. ...</li>
            <li>3. Where Will You Display Your Terms and Conditions Agreement. ...</li>
            <li>4. Terms & Conditions in Plain Language. ...</li>
            <li>5. Introduction and Acceptance of the Agreement. ...</li>
            <li>6. Privacy Practices. ...</li>
            <li>7. Limitation of Liability and Other Disclaimers. ...</li>
            <li>8. Intellectual Property Rights.</li>
        </ul>
        <p>
       
            
        </p>
        
    </body>
</html>