<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast Feed Terms of Use</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
</head>

<body class="size-1520 primary-color-red background-dark">
<!-- HEADER -->
<header class="grid">
  <!-- Top Navigation -->
  <nav class="s-12 grid background-none background-primary-hightlight">
      <a href="/" class="m-12 l-3 padding-2x logo">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Neuratac Logo">
      </a>
      <div class="top-nav s-12 l-9">
        <ul class="top-ul right chevron">
          <li><a href="/">Home</a></li>
          <li><a href="about-us">About Us</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </nav>
</header>

<!-- MAIN -->
<main role="main">
  <div class="container">
    <h1>Fast Feed Terms of Use</h1>

    <p>These Terms of Service ("Terms") outline the terms and conditions for using the Fast Feed App and Site at <a href="https://www.fastfeed.app">https://www.fastfeed.app</a> and the services provided by Fast Feed. By accessing or using the Services, you agree to be bound by these Terms.</p>

    <h2>Changes to the Terms:</h2>
    <p>Fast Feed reserves the right to modify these Terms at any time. Updated Terms will be posted on the App or communicated through registered email addresses.</p>

    <h2>Eligibility and Account Registration:</h2>
    <p>Creating a user account is optional but may be required to save preferences. By creating an account, you confirm you are of legal age and agree to provide accurate information.</p>

    <h2>Intellectual Property:</h2>
    <p>All content on Fast Feed, including images, text, and trademarks, are owned by Fast Feed or its licensors. Unauthorized use of the Service's content is strictly prohibited.</p>

    <h2>Permitted Use:</h2>
    <p>The Service is for personal use only. Users may not reproduce, distribute, or sell any part of the Service without permission.</p>

    <h2>Third-party Distribution Channels:</h2>
    <p>Fast Feed's App may be available through third-party distribution channels. Users must comply with the terms of these channels.</p>

    <h2>Content Owned by Fast Feed:</h2>
    <p>All content delivered via the Service is protected by copyrights and other laws. Users may print or download content for personal use only.</p>
    <h2>Feedback, Your Content, and Submissions</h2>

    <ul>
  <li>The Fast Feed Services allow users to contribute and share various types of content, such as posts, photos, links, and text ("Content").</li>
  <li>You acknowledge that all Content, whether publicly posted or privately transmitted, is the sole responsibility of the user who created it.</li>
  <li>Fast Feed cannot guarantee the authenticity of any Content provided by users. You agree that accessing Content through the Service is at your own risk, and you are solely responsible for any resulting damage or loss.</li>
  <li>To maintain the integrity of the Fast Feed Services and protect users from abuse, Fast Feed reserves the right to remove any posted content that violates these Terms or adversely affects the App's integrity or user experience.</li>
  <li>You are solely responsible for all consequences of sharing or posting any content on Fast Feed. Fast Feed and its officers, directors, employees, agents, representatives, and affiliates are released from any liability related to your content.</li>
  <li>By submitting content to Fast Feed, you grant Fast Feed a worldwide, non-exclusive, perpetual, royalty-free license to reproduce, distribute, and modify your content. However, this license does not affect your ownership rights in the content.</li>
  <li>You affirm that you have the necessary rights and permissions to share the content you submit to Fast Feed and that it does not violate any rights of third parties.</li>
  <li>Fast Feed does not endorse any user-generated content and reserves the right to remove any content at its discretion.</li>
  <li>You acknowledge that Fast Feed does not pre-screen content and may remove any user-generated content at any time without notice.</li>
  <li>Any feedback, suggestions, or information provided by you to Fast Feed is non-confidential and may be used by Fast Feed for any purpose without acknowledgment or compensation to you.</li>
</ul>
    <h2>Obscene and Offensive Content</h2>

    <p>Fast Feed is not responsible for any obscene and offensive content encountered while using the Service. Users are encouraged to report such content to Fast Feed for investigation.</p>

    <h2>User Representation and Acceptable Use</h2>

    <p>You represent and warrant that any materials submitted through your account or otherwise shared on the Service will not violate the rights of any third party.</p>

    <p>While Fast Feed strives to provide a safe user experience, it does not guarantee the safety, error-free nature, or uninterrupted availability of the App or its content.</p>

    <p>You agree to use the App strictly in accordance with the provided guidelines, including refraining from hosting, uploading, or sharing prohibited content.</p>

    <p>Fast Feed reserves the right to monitor and remove any content or user activity that violates these Terms.</p>

    <h2>App and App Updates</h2>

    <p>Users are authorized to download the App from Fast Feed and granted a personal license to use the software for personal, non-commercial purposes.</p>

    <p>The App may communicate with Fast Feed servers to deliver updates and improvements to the user experience. Users agree to receive and install these updates as necessary.</p>

    <h2>Communication Services and Fees</h2>
<p>While accessing and using the App is free, users are responsible for all internet fees, carrier data plans, and associated costs. Standard charges and data rates from wireless service providers may apply. Users agree to receive communications from FastFeed via SMS, MMS, text message, or other electronic means on their mobile devices.</p>

<h2>Privacy</h2>
<p>User information collected during site and service use will be treated according to the Privacy Policy, which is an integral part of these Terms. Users should refer to the Privacy Policy for information on how their information is collected, used, and disclosed.</p>

<h2>Third-Party Content, Resources, and Advertisement Services</h2>
<p>The Service may contain links to third-party websites, services, or resources ("Third-Party Content"). FastFeed is not liable for the content, accuracy, legality, or appropriateness of these third-party websites or resources. The inclusion of such links does not imply endorsement by FastFeed.</p>
<p>Advertisement services may be included in the App, and users agree to the placement of such advertising. FastFeed is not responsible for any content transmitted from linked sites, and users access linked sites at their own risk.</p>

<h2>Copyright and Infringement Notification</h2>
<p>Users agree not to use the Service to transmit, distribute, or store material that violates copyright or other intellectual property rights. FastFeed respects intellectual property rights and has procedures in place to address copyright infringement. Users can notify FastFeed of alleged copyright infringement.</p>

<h2>Warranty Disclaimer</h2>
<p>The Service, including the App, is provided "as is" without warranties of any kind. FastFeed makes no promises regarding the absence of viruses or the suitability of third-party content accessed through the Service. Users use the Service at their own risk.</p>

<h2>Limitation of Liability</h2>
<p>FastFeed and its affiliates are not liable for any damages resulting from the use of the Service, including lost profits or data. FastFeed's total liability under these Terms is limited to the amounts paid by the user to FastFeed or $100, whichever is applicable.</p>

<h2>Indemnification</h2>
<p>Users agree to indemnify and hold FastFeed and its service providers harmless from any losses, expenses, damages, or costs resulting from the user's use of the Service.</p>

<h2>Termination</h2>
<p>FastFeed may terminate user access to the Service at any time with or without cause. Users may also terminate their use of the Service at any time. Certain provisions of these Terms will survive termination.</p>

<h2>Choice of Law and Jurisdiction</h2>
<p>These Terms are governed by the laws of Andhra Pradesh, India. Any disputes arising under these Terms will be subject to the exclusive jurisdiction of the courts in Visakhapatnam, India.</p>

<h2>Dispute Resolution; Arbitration</h2>
<p>Disputes between users and FastFeed will be settled by binding arbitration, except for certain exceptions outlined in the Terms. Users may opt out of arbitration within 30 days of agreeing to the Terms.</p>

<h2>General Provisions</h2>
<p>Provisions regarding severability, survival, waiver, assignment, and the entire agreement between the parties are outlined. Users can direct questions or complaints to FastFeed at <a href="mailto:SanjayaMaharana145@gmail.com">SanjayaMaharana145@gmail.com</a>.</p>

  </div>
  <div class="container">
    <h1> </h1>
  </div>

</main>

<!-- FOOTER -->
<footer class="grid">
  <!-- Footer - top -->
  <!-- Image-->
  <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url({{ url_for('static', filename='img/img-04.jpg') }})"></div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">About Neuratac</h2>
    <p>At Neuratac, we're dedicated to pioneering AI-driven innovation that transforms businesses and industries. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">Contact Neuratac</h2>
    <p><b class="text-primary margin-right-10">Phone:</b> +91 8790654369</p>
    <p><b class="text-primary margin-right-10">Email:</b> <a class="text-primary-hover" href="mailto:contact@neuratac.com">contact@neuratac.com</a></p>
    <p><b class="text-primary margin-right-10">Email (CEO):</b> <a class="text-primary-hover" href="mailto:SanjayaMaharana145@gmail.com">SanjayaMaharana145@gmail.com</a></p>
  </div>

  <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
    <h2 class="text-strong text-uppercase">Visit Us</h2>
    <p><b class="text-primary margin-right-10">City:</b> Visakhapatnam, Andhra Pradesh</p>
    <p><b class="text-primary margin-right-10">Country:</b> India</p>
  </div>

  <!-- Footer - bottom -->
  <div class="s-12 text-center margin-bottom">
        <p class="text-size-12">Copyright &copy; 2023 Neuratac - Innovating Tomorrow</p>
        <p class="text-size-12">All images used are licensed. Do not use without permission.</p>
        <p><a class="text-size-12 text-primary-hover" href="http://www.neuratac.com" title="Neuratac - Innovative Solutions">Design and Development by Neuratac Team</a></p>
    </div>

</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>


</body>
</html>
